<igx-navbar class="navbar">
  <ng-container>
    <button igxButton="icon" igxRipple>
      <igx-icon>
        notifications
      </igx-icon>
    </button>
    <button igxButton="icon" igxRipple>
      <igx-icon>
        email
      </igx-icon>
    </button>
    <button igxButton="icon" igxRipple>
      <igx-icon>
        account_circle
      </igx-icon>
    </button>
    <button igxButton="icon" igxRipple>
      <igx-icon>
        more_vert
      </igx-icon>
    </button>
  </ng-container>
  <igx-navbar-title>My Kanban App</igx-navbar-title>
</igx-navbar>
<div class="row-layout group">
  <div class="column-layout group_1">
    <igx-avatar initials="HA" class="avatar"></igx-avatar>
    <igx-avatar initials="BR" class="avatar_1"></igx-avatar>
    <igx-avatar initials="LT" class="avatar_1"></igx-avatar>
    <igx-avatar initials="WP" routerLink="/i-am-the-master-view/table-view" class="avatar_1"></igx-avatar>
  </div>
  <div class="column-layout group">
    <div class="row-layout group_2">
      <div class="row-layout group_3">
        <button igxButton="icon" igxRipple routerLink="/search-bar">
          <igx-icon>
            search
          </igx-icon>
        </button>
        <h5 class="h5">
          1 Project
        </h5>
      </div>
      <div class="row-layout group_3">
        <button igxButton="icon" igxRipple routerLink="/i-am-the-master-view/list-view" class="button">
          <igx-icon>
            list
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple routerLink="/i-am-the-master-view/kanban-board" class="button">
          <igx-icon>
            dashboard
          </igx-icon>
        </button>
      </div>
      <div class="row-layout group_3">
        <p class="igx-typography__subtitle-1 text">
          Project Members
        </p>
        <igx-avatar initials="YT" [roundShape]="true" class="avatar_2"></igx-avatar>
        <igx-avatar initials="BR" [roundShape]="true" class="avatar_3"></igx-avatar>
        <button igxButton="icon" igxRipple>
          <igx-icon>
            add
          </igx-icon>
        </button>
      </div>
    </div>
    <div class="view-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
