<igx-navbar class="navigation-bar">
  <div igxNavbarTitle>My Kanban App</div>
  <button igxButton="icon" type="icon" [disabled]="false">
    <igx-icon>notifications</igx-icon>
  </button>
  <button igxButton="icon" type="icon" [disabled]="false">
    <igx-icon>email</igx-icon>
  </button>
  <button igxButton="icon" type="icon" [disabled]="false">
    <igx-icon>account_circle</igx-icon>
  </button>
  <button igxButton="icon" type="icon" [disabled]="false">
    <igx-icon>more_vert</igx-icon>
  </button>
</igx-navbar>
<div class="layout row">
  <div class="column-layout column">
    <igx-avatar initials="HA" bgColor="var(--igx-secondary-100)" [roundShape]="false" size="small" class="avatar"></igx-avatar>
    <igx-avatar initials="BR" bgColor="var(--igx-grays-400)" [roundShape]="false" size="small" class="avatar_3"></igx-avatar>
    <igx-avatar initials="LT" bgColor="var(--igx-grays-400)" [roundShape]="false" size="small" class="avatar_3"></igx-avatar>
    <igx-avatar initials="WP" bgColor="var(--igx-grays-400)" [roundShape]="false" size="small" class="avatar_3"></igx-avatar>
  </div>
  <div class="layout column">
    <div class="row-layout row">
      <div class="row-layout_3 row">
        <button igxButton="icon" type="icon" [disabled]="false" routerLink="/i-am-the-master-view/kanban-board">
          <igx-icon>search</igx-icon>
        </button>
        <h5 class="title">Fintech Project</h5>
      </div>
      <div class="row-layout_3 row">
        <button igxButton="icon" type="icon" [disabled]="false" routerLink="/i-am-the-master-view/list-view" class="icon-button">
          <igx-icon>list</igx-icon>
        </button>
        <button igxButton="icon" type="icon" [disabled]="false" routerLink="/i-am-the-master-view/kanban-board" class="icon-button">
          <igx-icon>dashboard</igx-icon>
        </button>
      </div>
      <div class="row-layout_3 row">
        <p class="igx-typography__subtitle-1 title_1">Project Members</p>
        <igx-avatar initials="YT" bgColor="var(--igx-warn-500)" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
        <igx-avatar initials="BR" bgColor="var(--igx-success-500)" [roundShape]="true" size="small" class="avatar_2"></igx-avatar>
        <button igxButton="icon" type="icon" [disabled]="false">
          <igx-icon>add</igx-icon>
        </button>
      </div>
    </div>
    <div class="row-layout_1 row">
      <div class="row-layout_2 row">
        <p class="text">Select boards to search</p>
        <igx-checkbox labelPosition="after" [checked]="false" [disabled]="false" class="checkbox">All</igx-checkbox>
        <igx-checkbox labelPosition="after" [checked]="false" [disabled]="false" class="checkbox">Active</igx-checkbox>
        <igx-checkbox labelPosition="after" [checked]="false" [disabled]="false" class="checkbox">Archived</igx-checkbox>
        <igx-input-group type="border" class="input-group">
          <igx-prefix>
            <igx-icon font="material" [active]="true" class="icon">search</igx-icon>
          </igx-prefix>
          <label igxLabel for="inputField">Label/Placeholder</label>
          <input type="text" name="inputField" [required]="false" [disabled]="false" igxInput />
        </igx-input-group>
      </div>
      <button igxButton="raised" [disabled]="false" class="button">
        <span>Search now</span>
      </button>
    </div>
    <div class="views-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
