<div class="row-layout group">
  <div class="column-layout group_1">
    <h6 class="h6">
      To do
    </h6>
    <igx-list class="list">
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar initials="NA" [roundShape]="true"></igx-avatar>
        </span>
        <span igxListLineTitle>Preview app</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar initials="IK" [roundShape]="true" class="avatar"></igx-avatar>
        </span>
        <span igxListLineTitle>Indigo Cloud integration</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar initials="GA" [roundShape]="true" class="avatar_1"></igx-avatar>
        </span>
        <span igxListLineTitle>Create brand guideline</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar initials="SB" [roundShape]="true" class="avatar_2"></igx-avatar>
        </span>
        <span igxListLineTitle>Input update</span>
      </igx-list-item>
    </igx-list>
  </div>
  <div class="column-layout group_1">
    <h6 class="h6">
      In Development
    </h6>
    <igx-list class="list">
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar initials="S" [roundShape]="true" class="avatar_2"></igx-avatar>
        </span>
        <span igxListLineTitle>Preview app</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar initials="VB" [roundShape]="true" class="avatar_1"></igx-avatar>
        </span>
        <span igxListLineTitle>Data binding grid</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar initials="IK" [roundShape]="true" class="avatar"></igx-avatar>
        </span>
        <span igxListLineTitle>Copy-Paste update</span>
      </igx-list-item>
    </igx-list>
  </div>
  <div class="column-layout group_1">
    <h6 class="h6">
      Validation
    </h6>
    <igx-list class="list">
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar initials="CP" [roundShape]="true" class="avatar_2"></igx-avatar>
        </span>
        <span igxListLineTitle>App library</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar initials="AS" [roundShape]="true" class="avatar_3"></igx-avatar>
        </span>
        <span igxListLineTitle>Update samples</span>
      </igx-list-item>
    </igx-list>
  </div>
  <div class="column-layout group_1">
    <h6 class="h6">
      Done
    </h6>
    <igx-list class="list">
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar initials="GA" [roundShape]="true" class="avatar_1"></igx-avatar>
        </span>
        <span igxListLineTitle>Sketch Parser</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar initials="SA" [roundShape]="true" class="avatar_2"></igx-avatar>
        </span>
        <span igxListLineTitle>Onboarding experience</span>
      </igx-list-item>
    </igx-list>
  </div>
</div>
