<div class="row-layout row">
  <div class="column-layout column">
    <h6 class="title">To do</h6>
    <igx-list class="list">
      <igx-list-item class="list-item">
        <igx-avatar initials="NA" bgColor="var(--igx-grays-400)" [roundShape]="true" size="small" igxListThumbnail class="avatar"></igx-avatar>
        <h4 igxListLineTitle>Preview app</h4>
      </igx-list-item>
      <igx-list-item class="list-item">
        <igx-avatar initials="IK" bgColor="var(--igx-success-500)" [roundShape]="true" size="small" igxListThumbnail class="avatar_2"></igx-avatar>
        <h4 igxListLineTitle>Indigo Cloud integration</h4>
      </igx-list-item>
      <igx-list-item class="list-item">
        <igx-avatar initials="GA" bgColor="var(--igx-primary-500)" [roundShape]="true" size="small" igxListThumbnail class="avatar_3"></igx-avatar>
        <h4 igxListLineTitle>Create brand guideline</h4>
      </igx-list-item>
      <igx-list-item class="list-item">
        <igx-avatar initials="SB" bgColor="var(--igx-grays-900)" [roundShape]="true" size="small" igxListThumbnail class="avatar_4"></igx-avatar>
        <h4 igxListLineTitle>Input update</h4>
      </igx-list-item>
    </igx-list>
  </div>
  <div class="column-layout column">
    <h6 class="title">In Development</h6>
    <igx-list class="list">
      <igx-list-item class="list-item">
        <igx-avatar initials="S" bgColor="var(--igx-grays-900)" [roundShape]="true" size="small" igxListThumbnail class="avatar_4"></igx-avatar>
        <h4 igxListLineTitle>Preview app</h4>
      </igx-list-item>
      <igx-list-item class="list-item">
        <igx-avatar initials="VB" bgColor="var(--igx-primary-500)" [roundShape]="true" size="small" igxListThumbnail class="avatar_3"></igx-avatar>
        <h4 igxListLineTitle>Data binding grid</h4>
      </igx-list-item>
      <igx-list-item class="list-item">
        <igx-avatar initials="IK" bgColor="var(--igx-success-500)" [roundShape]="true" size="small" igxListThumbnail class="avatar_2"></igx-avatar>
        <h4 igxListLineTitle>Copy-Paste update</h4>
      </igx-list-item>
    </igx-list>
  </div>
  <div class="column-layout column">
    <h6 class="title">Validation</h6>
    <igx-list class="list">
      <igx-list-item class="list-item">
        <igx-avatar initials="CP" bgColor="var(--igx-grays-900)" [roundShape]="true" size="small" igxListThumbnail class="avatar_4"></igx-avatar>
        <h4 igxListLineTitle>App library</h4>
      </igx-list-item>
      <igx-list-item class="list-item">
        <igx-avatar initials="AS" bgColor="var(--igx-secondary-700)" [roundShape]="true" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
        <h4 igxListLineTitle>Update samples</h4>
      </igx-list-item>
    </igx-list>
  </div>
  <div class="column-layout column">
    <h6 class="title">Done</h6>
    <igx-list class="list">
      <igx-list-item class="list-item">
        <igx-avatar initials="GA" bgColor="var(--igx-primary-500)" [roundShape]="true" size="small" igxListThumbnail class="avatar_3"></igx-avatar>
        <h4 igxListLineTitle>Sketch Parser</h4>
      </igx-list-item>
      <igx-list-item class="list-item">
        <igx-avatar initials="SA" bgColor="var(--igx-grays-900)" [roundShape]="true" size="small" igxListThumbnail class="avatar_4"></igx-avatar>
        <h4 igxListLineTitle>Onboarding experience</h4>
      </igx-list-item>
    </igx-list>
  </div>
</div>
