:host {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.row-layout {
  width: 205px;
  align-items: stretch;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.row-layout_1 {
  width: 188px;
  align-items: stretch;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.row-layout_2 {
  width: 1008px;
  align-items: stretch;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.floating-action-button {
  width: max-content;
  height: max-content;
}
.icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.list {
  height: auto;
  min-width: max-content;
  flex-shrink: 0;
}
.list-item {
  min-width: 0;
  min-height: 0;
}
.avatar {
  color: var(--igx-grays-800);
  background-color: var(--igx-grays-400);
}
.row {
  display: flex;
}
