<div class="row-layout group">
  <button igxButton="fab" igxRipple class="button">
    <igx-icon>
      add
    </igx-icon>
  </button>
</div>
<div class="row-layout group_1"></div>
<div class="row-layout group_2">
  <igx-list class="list">
    <igx-list-item [isHeader]="false" *ngFor="let item of northwindCustomers">
      <span igxListThumbnail>
        <igx-avatar icon="person" [roundShape]="true"></igx-avatar>
      </span>
      <span igxListLineTitle>{{ item.contactName }}</span>
      <span igxListLineSubTitle>{{ item.contactTitle }}</span>
      <span igxListAction>
        <igx-icon class="icon">
          star
        </igx-icon>
      </span>
    </igx-list-item>
  </igx-list>
</div>
