:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  width: 205px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  width: 188px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  width: 1008px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.button {
  width: max-content;
  height: max-content;
}
.icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.list {
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
