<div class="row-layout group">
  <div class="column-layout group_1">
    <h6 class="h6">
      To do
    </h6>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div>
        <igx-card-header>
          <div igxCardThumbnail>
            <igx-avatar initials="GA" [roundShape]="true" class="avatar"></igx-avatar>
          </div>
          <h3 igxCardHeaderTitle>
            Create brand guideline
          </h3>
          <h5 igxCardHeaderSubtitle>
            Deadline: Nov 19, 2020
          </h5>
        </igx-card-header>
        <igx-card-actions class="actions-content">
          <button igxButton="icon" igxRipple>
            <igx-icon>
              attach_file
            </igx-icon>
          </button>
          <button igxButton="icon" igxRipple>
            <igx-icon>
              comment
            </igx-icon>
          </button>
          <button igxButton="icon" igxRipple>
            <igx-icon>
              share
            </igx-icon>
          </button>
        </igx-card-actions>
      </div>
    </igx-card>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div>
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Preview app
          </h3>
          <h5 igxCardHeaderSubtitle>
            Deadline: Nov 21, 2020
          </h5>
        </igx-card-header>
      </div>
      <igx-card-media width="96px">
        <img src="https://i.ibb.co/nMYxSTR/chris-ried-ieic5-Tq8-YMk-unsplash.jpg" />
      </igx-card-media>
    </igx-card>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div>
        <igx-card-header>
          <div igxCardThumbnail>
            <igx-avatar initials="IK" [roundShape]="true" class="avatar_1"></igx-avatar>
          </div>
          <h3 igxCardHeaderTitle>
            Indigo Cloud integration
          </h3>
          <h5 igxCardHeaderSubtitle>
            Deadline: Nov 28, 2020
          </h5>
        </igx-card-header>
        <igx-card-actions class="actions-content">
          <button igxButton="icon" igxRipple>
            <igx-icon>
              short_text
            </igx-icon>
          </button>
          <button igxButton="icon" igxRipple>
            <igx-icon>
              comment
            </igx-icon>
          </button>
          <button igxButton="icon" igxRipple>
            <igx-icon>
              share
            </igx-icon>
          </button>
        </igx-card-actions>
      </div>
    </igx-card>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div>
        <igx-card-header>
          <div igxCardThumbnail>
            <igx-avatar initials="SB" [roundShape]="true" class="avatar_2"></igx-avatar>
          </div>
          <h3 igxCardHeaderTitle>
            Input update
          </h3>
          <h5 igxCardHeaderSubtitle>
            Deadline: Nov 21, 2020
          </h5>
        </igx-card-header>
      </div>
      <igx-card-media width="96px">
        <img src="https://i.ibb.co/RTnwDCL/yancy-min-842of-HC6-Ma-I-unsplash.jpg&quot; alt=&quot;yancy-min-842of-HC6-Ma-I-unsplash&quot;" />
      </igx-card-media>
    </igx-card>
  </div>
  <div class="column-layout group_1">
    <h6 class="h6">
      In Development
    </h6>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div>
        <igx-card-header>
          <div igxCardThumbnail>
            <igx-avatar initials="SB" [roundShape]="true" class="avatar_2"></igx-avatar>
          </div>
          <h3 igxCardHeaderTitle>
            Preview app
          </h3>
          <h5 igxCardHeaderSubtitle>
            Deadline: Nov 21, 2020
          </h5>
        </igx-card-header>
      </div>
      <igx-card-media width="96px">
        <img src="https://i.ibb.co/tsyHc75/shahadat-rahman-gny-A8vd3-Otc-unsplash.jpg" />
      </igx-card-media>
    </igx-card>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div>
        <igx-card-header>
          <div igxCardThumbnail>
            <igx-avatar initials="VB" [roundShape]="true" class="avatar"></igx-avatar>
          </div>
          <h3 igxCardHeaderTitle>
            Data binding grid
          </h3>
          <h5 igxCardHeaderSubtitle>
            Deadline: Nov 29, 2020
          </h5>
        </igx-card-header>
        <igx-card-actions class="actions-content">
          <button igxButton="icon" igxRipple>
            <igx-icon>
              attach_file
            </igx-icon>
          </button>
          <button igxButton="icon" igxRipple>
            <igx-icon>
              comment
            </igx-icon>
          </button>
          <button igxButton="icon" igxRipple>
            <igx-icon>
              share
            </igx-icon>
          </button>
        </igx-card-actions>
      </div>
    </igx-card>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div>
        <igx-card-header>
          <div igxCardThumbnail>
            <igx-avatar initials="IK" [roundShape]="true" class="avatar_1"></igx-avatar>
          </div>
          <h3 igxCardHeaderTitle>
            Copy-Paste update
          </h3>
          <h5 igxCardHeaderSubtitle>
            Deadline: Nov 11, 2020
          </h5>
        </igx-card-header>
        <igx-card-actions class="actions-content">
          <button igxButton="icon" igxRipple>
            <igx-icon>
              short_text
            </igx-icon>
          </button>
          <button igxButton="icon" igxRipple>
            <igx-icon>
              comment
            </igx-icon>
          </button>
          <button igxButton="icon" igxRipple>
            <igx-icon>
              share
            </igx-icon>
          </button>
        </igx-card-actions>
      </div>
    </igx-card>
  </div>
  <div class="column-layout group_1">
    <h6 class="h6">
      Validation
    </h6>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div>
        <igx-card-header>
          <div igxCardThumbnail>
            <igx-avatar initials="CP" [roundShape]="true" class="avatar_2"></igx-avatar>
          </div>
          <h3 igxCardHeaderTitle>
            Update samples
          </h3>
          <h5 igxCardHeaderSubtitle>
            Deadline: Nov 12, 2020
          </h5>
        </igx-card-header>
      </div>
      <igx-card-media width="64px">
        <img src="https://i.ibb.co/4tz9vpC/markus-spiske-qjn-An-F0j-IGk-unsplash.jpg" />
      </igx-card-media>
    </igx-card>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div>
        <igx-card-header>
          <div igxCardThumbnail>
            <igx-avatar initials="AS" [roundShape]="true" class="avatar_3"></igx-avatar>
          </div>
          <h3 igxCardHeaderTitle>
            App library
          </h3>
          <h5 igxCardHeaderSubtitle>
            Deadline: Nov 10, 2020
          </h5>
        </igx-card-header>
      </div>
      <igx-card-media width="64px">
        <img src="https://i.ibb.co/PrdbVWH/roozbeh-eslami-Yl-Vjr-Bkf-Xt8-unsplash.jpg" />
      </igx-card-media>
    </igx-card>
  </div>
  <div class="column-layout group_1">
    <h6 class="h6">
      Done
    </h6>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div>
        <igx-card-header>
          <div igxCardThumbnail>
            <igx-avatar initials="GA" [roundShape]="true" class="avatar"></igx-avatar>
          </div>
          <h3 igxCardHeaderTitle>
            Onboarding experience
          </h3>
          <h5 igxCardHeaderSubtitle>
            Deadline: Nov 4, 2020
          </h5>
        </igx-card-header>
        <igx-card-actions class="actions-content">
          <button igxButton="icon" igxRipple>
            <igx-icon>
              attach_file
            </igx-icon>
          </button>
          <button igxButton="icon" igxRipple>
            <igx-icon>
              comment
            </igx-icon>
          </button>
          <button igxButton="icon" igxRipple>
            <igx-icon>
              share
            </igx-icon>
          </button>
        </igx-card-actions>
      </div>
    </igx-card>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div>
        <igx-card-header>
          <div igxCardThumbnail>
            <igx-avatar initials="SA" [roundShape]="true" class="avatar_2"></igx-avatar>
          </div>
          <h3 igxCardHeaderTitle>
            Sketch Parser
          </h3>
          <h5 igxCardHeaderSubtitle>
            Deadline: Nov 5, 2020
          </h5>
        </igx-card-header>
      </div>
      <igx-card-media width="96px">
        <img src="https://i.ibb.co/nMYxSTR/chris-ried-ieic5-Tq8-YMk-unsplash.jpg" />
      </igx-card-media>
    </igx-card>
  </div>
</div>
