<div class="row-layout row">
  <div class="column-layout column">
    <h6 class="title">To do</h6>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div class="card-flex-column">
        <igx-card-header>
          <igx-avatar initials="GA" bgColor="var(--igx-primary-500)" [roundShape]="true" size="small" class="avatar_2"></igx-avatar>
          <h3 igxCardHeaderTitle>Create brand guideline</h3>
          <h5 igxCardHeaderSubtitle>Deadline: Nov 19, 2020</h5>
        </igx-card-header>
        <igx-card-actions [vertical]="false" class="actions">
          <button igxButton="icon" type="icon" [disabled]="false">
            <igx-icon>attach_file</igx-icon>
          </button>
          <button igxButton="icon" type="icon" [disabled]="false">
            <igx-icon>comment</igx-icon>
          </button>
          <button igxButton="icon" type="icon" [disabled]="false">
            <igx-icon>share</igx-icon>
          </button>
        </igx-card-actions>
      </div>
    </igx-card>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div class="card-flex-column">
        <igx-card-header>
          <h3 igxCardHeaderTitle>Preview app</h3>
          <h5 igxCardHeaderSubtitle>Deadline: Nov 21, 2020</h5>
        </igx-card-header>
      </div>
      <igx-card-media width="96px">
        <img src="https://i.ibb.co/nMYxSTR/chris-ried-ieic5-Tq8-YMk-unsplash.jpg" />
      </igx-card-media>
    </igx-card>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div class="card-flex-column">
        <igx-card-header>
          <igx-avatar initials="IK" bgColor="var(--igx-success-500)" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
          <h3 igxCardHeaderTitle>Indigo Cloud integration</h3>
          <h5 igxCardHeaderSubtitle>Deadline: Nov 28, 2020</h5>
        </igx-card-header>
        <igx-card-actions [vertical]="false" class="actions">
          <button igxButton="icon" type="icon" [disabled]="false">
            <igx-icon>short_text</igx-icon>
          </button>
          <button igxButton="icon" type="icon" [disabled]="false">
            <igx-icon>comment</igx-icon>
          </button>
          <button igxButton="icon" type="icon" [disabled]="false">
            <igx-icon>share</igx-icon>
          </button>
        </igx-card-actions>
      </div>
    </igx-card>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div class="card-flex-column">
        <igx-card-header>
          <igx-avatar initials="SB" bgColor="var(--igx-grays-900)" [roundShape]="true" size="small" class="avatar_3"></igx-avatar>
          <h3 igxCardHeaderTitle>Input update</h3>
          <h5 igxCardHeaderSubtitle>Deadline: Nov 21, 2020</h5>
        </igx-card-header>
      </div>
      <igx-card-media width="96px">
        <img src="https://i.ibb.co/RTnwDCL/yancy-min-842of-HC6-Ma-I-unsplash.jpg&quot; alt=&quot;yancy-min-842of-HC6-Ma-I-unsplash&quot;" />
      </igx-card-media>
    </igx-card>
  </div>
  <div class="column-layout column">
    <h6 class="title">In Development</h6>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div class="card-flex-column">
        <igx-card-header>
          <igx-avatar initials="SB" bgColor="var(--igx-grays-900)" [roundShape]="true" size="small" class="avatar_3"></igx-avatar>
          <h3 igxCardHeaderTitle>Preview app</h3>
          <h5 igxCardHeaderSubtitle>Deadline: Nov 21, 2020</h5>
        </igx-card-header>
      </div>
      <igx-card-media width="96px">
        <img src="https://i.ibb.co/tsyHc75/shahadat-rahman-gny-A8vd3-Otc-unsplash.jpg" />
      </igx-card-media>
    </igx-card>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div class="card-flex-column">
        <igx-card-header>
          <igx-avatar initials="VB" bgColor="var(--igx-primary-500)" [roundShape]="true" size="small" class="avatar_2"></igx-avatar>
          <h3 igxCardHeaderTitle>Data binding grid</h3>
          <h5 igxCardHeaderSubtitle>Deadline: Nov 29, 2020</h5>
        </igx-card-header>
        <igx-card-actions [vertical]="false" class="actions">
          <button igxButton="icon" type="icon" [disabled]="false">
            <igx-icon>attach_file</igx-icon>
          </button>
          <button igxButton="icon" type="icon" [disabled]="false">
            <igx-icon>comment</igx-icon>
          </button>
          <button igxButton="icon" type="icon" [disabled]="false">
            <igx-icon>share</igx-icon>
          </button>
        </igx-card-actions>
      </div>
    </igx-card>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div class="card-flex-column">
        <igx-card-header>
          <igx-avatar initials="IK" bgColor="var(--igx-success-500)" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
          <h3 igxCardHeaderTitle>Copy-Paste update</h3>
          <h5 igxCardHeaderSubtitle>Deadline: Nov 11, 2020</h5>
        </igx-card-header>
        <igx-card-actions [vertical]="false" class="actions">
          <button igxButton="icon" type="icon" [disabled]="false">
            <igx-icon>short_text</igx-icon>
          </button>
          <button igxButton="icon" type="icon" [disabled]="false">
            <igx-icon>comment</igx-icon>
          </button>
          <button igxButton="icon" type="icon" [disabled]="false">
            <igx-icon>share</igx-icon>
          </button>
        </igx-card-actions>
      </div>
    </igx-card>
  </div>
  <div class="column-layout column">
    <h6 class="title">Validation</h6>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div class="card-flex-column">
        <igx-card-header>
          <igx-avatar initials="CP" bgColor="var(--igx-grays-900)" [roundShape]="true" size="small" class="avatar_3"></igx-avatar>
          <h3 igxCardHeaderTitle>Update samples</h3>
          <h5 igxCardHeaderSubtitle>Deadline: Nov 12, 2020</h5>
        </igx-card-header>
      </div>
      <igx-card-media width="64px">
        <img src="https://i.ibb.co/4tz9vpC/markus-spiske-qjn-An-F0j-IGk-unsplash.jpg" />
      </igx-card-media>
    </igx-card>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div class="card-flex-column">
        <igx-card-header>
          <igx-avatar initials="AS" bgColor="var(--igx-secondary-900)" [roundShape]="true" size="small" class="avatar"></igx-avatar>
          <h3 igxCardHeaderTitle>App library</h3>
          <h5 igxCardHeaderSubtitle>Deadline: Nov 10, 2020</h5>
        </igx-card-header>
      </div>
      <igx-card-media width="64px">
        <img src="https://i.ibb.co/PrdbVWH/roozbeh-eslami-Yl-Vjr-Bkf-Xt8-unsplash.jpg" />
      </igx-card-media>
    </igx-card>
  </div>
  <div class="column-layout column">
    <h6 class="title">Done</h6>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div class="card-flex-column">
        <igx-card-header>
          <igx-avatar initials="GA" bgColor="var(--igx-primary-500)" [roundShape]="true" size="small" class="avatar_2"></igx-avatar>
          <h3 igxCardHeaderTitle>Onboarding experience</h3>
          <h5 igxCardHeaderSubtitle>Deadline: Nov 4, 2020</h5>
        </igx-card-header>
        <igx-card-actions [vertical]="false" class="actions">
          <button igxButton="icon" type="icon" [disabled]="false">
            <igx-icon>attach_file</igx-icon>
          </button>
          <button igxButton="icon" type="icon" [disabled]="false">
            <igx-icon>comment</igx-icon>
          </button>
          <button igxButton="icon" type="icon" [disabled]="false">
            <igx-icon>share</igx-icon>
          </button>
        </igx-card-actions>
      </div>
    </igx-card>
    <igx-card type="outlined" [horizontal]="true" class="card">
      <div class="card-flex-column">
        <igx-card-header>
          <igx-avatar initials="SA" bgColor="var(--igx-grays-900)" [roundShape]="true" size="small" class="avatar_3"></igx-avatar>
          <h3 igxCardHeaderTitle>Sketch Parser</h3>
          <h5 igxCardHeaderSubtitle>Deadline: Nov 5, 2020</h5>
        </igx-card-header>
      </div>
      <igx-card-media width="96px">
        <img src="https://i.ibb.co/nMYxSTR/chris-ried-ieic5-Tq8-YMk-unsplash.jpg" />
      </igx-card-media>
    </igx-card>
  </div>
</div>
